<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

 <material name = "cpr_grey">
   <color rgba = "0.2 0.2 0.2 1" />
 </material>

  <link name="sensors_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://umbc05_jackal/meshes/umbc05.STL"/>
      </geometry>
      <material name="cpr_grey" />
    </visual>
    <collision>
      <origin xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://umbc05_jackal/meshes/umbc05.STL"/>
      </geometry>
    </collision>
  </link>
  
  <joint name="sensors_joint" type="fixed">
    <parent link="mid_mount" />
    <child link="sensors_link" />
    <origin xyz="-0.305 -0.152 -0.001" rpy="0 0 0"/>
  </joint>

</robot>
