<?xml version="1.0"?>
<launch>

  <group ns="gps">
    <node pkg="nmea_comms" type="serial_node" name="nmea_serial_node" output="screen">
      <param name="port" value="/dev/ttyUSB0" />
      <param name="baud" value="$(optenv JACKAL_NAVSAT_BAUD 19200)" />
      <param name="frame_id" value="GPS_link" />
    </node>

   <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="nmea_topic_driver">
      <remap from="/gps/fix" to="/navsat/fix" />
    </node>

  </group>

</launch>
