<launch>
  <arg name="rpm" default="600.0" />
  <arg name="frame_id" default="front_mount" />

  <include file="$(find jackal_base)/launch/base.launch" />
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" >
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="rpm" value="$(arg rpm)"/>
  </include>
</launch>
